nav.navbar
  .container
    .navbar__logo
      img(src="./assets/images/logo-white.png")
    .navbar__links
      a Наши Букеты
      a Упаковкa
      a Доставка
      a Контакты
    .navbar__phone(href="tel:89211848584") +7 (921) 184-85-84